.small-nav {
  background-color: #d6c9afc7;
  font-weight: bold;
  padding: 22px 0;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.All-categorey:hover .categories-type {
  opacity: 1;
  z-index: 10;
  top: calc(100% + 22px);
}
.categories-title {
  position: relative;
}
.categories-title::after {
  content: "";
  position: absolute;
  border-width: 5px;
  top: 9px;
  right: -25px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.categories-title p {
  margin-bottom: 0;
}

.categories-type {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 5px;
  line-height: 50px;
  position: absolute;
  left: 0;
  top: calc(100% + 22px);
  width: 100%;
  z-index: -1;
  opacity: 0;
  border: 1px solid gainsboro;
  transition: 1s;
  border-radius: 13px;
}
.categories-type img {
  max-width: 70%;
}
@media (max-width: 480px) {
  .categories-type img {
    display: none;
  }
}
.categories-type ul {
  flex: 1;
  padding-left: 0 !important;
}
.categories-type ul li {
  padding-left: 10px;
}
.categories-type ul li:hover {
  background-color: #80808040;
}

.categories-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.categories-list ul li a {
  padding: 17px;
  color: black;
  opacity: 0.5;

  transition: 0.9s;
}
@media (max-width: 767px) {
  .categories-list ul {
    display: none;
  }
}
.categories-list ul li a:hover {
  background-color: white;
  color: #d31312;
  border-radius: 13px;
  opacity: 1;
}
.categories-list ol {
  background-color: white;
  line-height: 60px;
  position: absolute;
  width: 100%;
  right: 0;
  top: calc(100% + 50px);
  padding: 6px 46px;
  z-index: -1;
  opacity: 0;
  transition: 1s;
  border: 1px solid gainsboro;
  border-radius: 13px;
}
.categories-list ol li a {
  color: black;
  transition: 0.5s;
}
.categories-list ol li a:hover {
  color: #d31313a6;
}
.categories:hover .categories-list ol {
  z-index: 2;
  opacity: 5;
  top: calc(100% + 18px);
}
@media (min-width: 768px) {
  .listdown {
    display: none;
  }
}
