.Cart-page {
    background-image: url(../Photo/image33.jpg);
    background-position: center;
    background-size: cover;
    height: 130vh;
    overflow: scroll;
}
.total-price {
    font-size: xx-large;
    color: white;
}

tbody td img {
    width: 100px;
    height: 100px;
}