.con-navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
@media(max-width:991px) {
    .container {
        justify-content: space-around;
        flex-direction: column;
    }
}
.img {
    max-width: 30px;
}
.logo img {
    height: 35px;
}
.Nav-bar {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #D6C9AF;
    border-bottom: 1px solid black;
}
.deliverd {
    display: flex;
    width: 25px;
    justify-content: center;
    align-items: center;
}
@media ( max-width:991px) {
    .deliverd {
        display: none;
    }
}
.deliverd img {
    height: 21px;
}
.deliverd p {
    margin-left: 10px;
    font-weight: 300;
}
.deliverd span {
    font-weight: bold;
}
.deliverd span:hover {
    color: #d31313a6;
    cursor: pointer;
}
.search {
    position: relative;

}
@media (max-width:991px) {
    .search {
        margin-bottom: 15px;
    }
}
.search input {
    width: 310px;
    padding: 10px 16px;
    border: 2px solid black;

}
@media (min-width:480px) {
    .search input {
        width: 450px;
    }
}
@media (max-width:767px) {
    .search input {
        margin-bottom: 10px;
    }
}
@media (min-width:767px) {
    .search input {
        width: 400px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .search input {
        width: 600px;
    }
}
.search-icon {
    position: absolute;
    right: 12px;
    bottom: 9px;
}
@media (max-width:767px) {
    .search-icon {
        bottom: 18px;
    }
}
.sign h4,
.cart h4 {
    margin-right: 11px;
}
.cart:hover,
.sign:hover {
    color: #d31313a6;
    cursor: pointer;
}
.cart-logo {
    bottom: 22px;
    right: 2px;
    color: red;
}
.signin-and-cart {
    gap: 15px;
}