@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Teko", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
ol {
  list-style: none;
}
a {
  text-decoration: none !important;
}
.product-action-overlay,
.product-action-overlay button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-action-overlay {
  height: 70vh;
}
.product-action-overlay button {
  background-color: #d6c9af;
  padding: 12px;
  gap: 25px;
  color: white;
  border: none;
  border-radius: 13px;
}
